*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Balsamiq Sans';
    background-color: #ffd97d;
}

.titulo{
    text-align: center;
    margin-top: 25px;
    color: #0081a7;
}

.formulario{
    margin-left: 25px;    
}

input{
    margin-top:10px;
    padding: 3px;
    border: solid 1px;
    border-color: #f07167;
    border-radius: 10px;
}

label{
    color: #0081a7;
}

.boton{
    width: 90px;
    height: 30px;
}
.boton:hover{
    background-color: #0081a7;
    color: white;
}

select{
    background-color: #fed9b7;
    border-radius: 10px;
    border-color: #f07167;
    padding: 3px;
}
select:hover{
    background-color: #0081a7;
    color: white;
}

fieldset{
    padding: 10px;
    color: #0081a7;
    border-radius: 15px;
}
