
body{
    background-color: #2a9d8f;
}

h1{
    background-color: #e76f51;
    color:#264653;
    padding: 25px;
    border: 10px solid #e9c46a;
    margin: auto;
    text-align: center;
}

p{
    text-align: center;
}