
body{
    background-color: #2a9d8f;
}

h1{
    color: #264653;
    text-align: center;
}

h2{
    color: #023047;
}

p{
    color: #013d2e;
}

div{
    border: 10px solid #1d3557;
    background-color: beige;
    text-align: center;
    border-radius: 20px;
}